<div class="stack" *ngIf="event">
	<div class="row title" >
		<div class="col-md-12">
			<h1>{{ event.name }}</h1>
			<p>{{ event.date }}</p>
		</div>
	</div>
	
	<!-- Status of event -->
	<h2>Options</h2>
	<div class="status row card">
		<a (click)="refreshEvent()">Refresh</a>
		<table class=" col-md-12 table table-striped table-condensed table-hover">
			<thead>
				<tr>
					<th>Card</th>
					<th>Status</th>
					<th>File</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><strong>Main</strong></td>
					<td>{{getStatusLabel(event.status)}}</td>
					<td></td>
					<td><select (change)="statusChanged($event.target.value)">
							<option value="-1">Change to</option>
							<option value="0">Skipped</option>
							<option value="1">Wanted</option>
					</select></td>
				</tr>

				<tr>
					<td><strong>Prelims</strong></td>
					<td>{{getStatusLabel(event.prelimStatus)}}</td>
					<td></td>
					<td><select
						(change)="prelimStatusChanged($event.target.value)">
							<option value="-1">Change to</option>
							<option value="0">Skipped</option>
							<option value="1">Wanted</option>
					</select></td>
				</tr>

				<tr>
					<td><strong>Eary prelims</strong></td>
					<td>{{getStatusLabel(event.earlyPrelimStatus)}}</td>
					<td></td>
					<td><select
						(change)="earlyPrelimStatusChanged($event.target.value)">
							<option value="-1">Change to</option>
							<option value="0">Skipped</option>
							<option value="1">Wanted</option>
					</select></td>
				</tr>
			</tbody>
		</table>

	</div>
	
	<!-- Fights -->
	<h2>Fights</h2>
	<div class="row fights card">
		<fight *ngFor="#fight of fights" [fight]="fight"></fight>
	</div>
</div>


    <div class="stack" *ngIf="!event">
        <div class="spinner"></div>
    </div >