<div class="stack" *ngIf="organization">
	<div class="row title" >
		<div class="col-md-12">
			<h1>{{ organization.name }}</h1>
		</div>
	</div>
	<h2>Options</h2>
	<div class="options card row">
	   <div class="col-md-4">
	       Follow: <input type="checkbox"  (click)="follow($event.target.checked)" value="1"  [checked]="organization.following"/>
	   </div>
	   <div class="col-md-4">
	       Prelims: <input type="checkbox"  (click)="followPrelims($event.target.checked)" value="1" [checked]="organization.getPrelims"/>
	   </div>
	   <div class="col-md-4">
	       Quality:
	       <select  (change)="changeQuality($event.target.value)" [value]="organization.quality" >
	           <option value="0">SD</option>
	           <option value="1">HD</option>
	           <option value="2">Any</option>
	       </select>
	   </div>
	   
	</div>
	
	<h2>Events</h2>
	<div class="events card">
    	<div *ngFor="#event of events" class="row event"  (click)="goToEvent(event)">
    	   <div class="col-md-3">
    	       {{ event.date }}
    	   </div>
    	   <div class="col-md-9">
    	       {{ event.name }}
    	   </div>
    	</div>
	</div>
</div>
<div class="stack" *ngIf="!organization">
    <div class="spinner"></div>
</div >