doctype html
html
  head
    base(href="/")
    title MmaTakeDown
    link(href='/css/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    block css
    block scripts
  body
    .container
        block content

